@model NissanCartTest01.WebUi.Models.VehCat

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Confirmation</h2>

<p>
    Are you sure you want to delete the Vehicle titled
    <strong>@Model.Name</strong>?
</p>

@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" />
    </p>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>

}
